* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1c0f24;
}
/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
body {
  scrollbar-width: none; /* 스크롤바 너비를 없애는 설정 */
}

body {
  display: flex;
  justify-content: center;
  min-height: 732px;
  min-width: 1420px;
  overflow-y: auto;
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: #1c0f24;
}

button {
  border: none;
}
